:root {
  --primary: #273171; /* Replace with your desired primary color hex value */
  --secondary: #f89629; /* Replace with your desired secondary color hex value */
  --accent: #389232; /* Replace with your desired accent color hex value */
}




.category_image {
  width:100%;
  aspect-ratio:4/3;
  object-fit:cover;
}

nav.header_nav.topbar {
  background: #fafafa;
}

.category_body {
  padding: 20px;
  background: #ffedd8;
  border-top: 0px;
  color: black;
}

h2.page_title {
  z-index: 1;
  font-size: 50px;
  font-weight: 700;
}
.category_body h2 {
  font-size:25px;
  margin: 0px!important;
  color:var(--primary);
}
.article_body {
  padding: 15px;
  border-radius: 0px 0px 10px 10px;
  background: #ffedd8;
}

h1.text-center {
  margin-bottom: 40px;
}

.category_grid .category_grid {
  margin:20px 0px ;
}


section.home_sections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
}


body {
  font-family: 'Raleway', sans-serif;
  font-weight:600;
}

h1 , h2 , h3 , h4 , h5 , h6 {
  font-family: 'League Spartan', sans-serif;
}


section.featured_blogs_section {
  padding: 50px 0px;
}

.article_thumbnail img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  min-height: 250px;
}

p {
  font-family: "Raleway";
  text-align: justify;
  line-height:30px;
}

.globe_section.container .about_us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  
}

section.globe_section {
  background: #fafafa;
}

section.globe_section p  {
  margin-top:20px;
}

.article_single_image img {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
  background:#eee;
}

.article_body h3 {
  color: var(--primary);
  font-size: 15px;
  text-align: center;

}

section.featured_blogs_section h1 {
  margin-bottom: 40px;
}

.article_column {
  box-shadow: 0px 0px 10px 0px #eee;
  margin: 10px;
  width: 30%;
  padding:0px;
}
section.featured_blogs_section .row {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  
}



.carousel-section h2 {
  text-align: center;
  font-weight: 700;
  font-size: 60px;
  padding: 20px;
  background: #323231ad;
  color: white;
  font-family: initial;

}

.carousel-caption {
  top:40%;
  padding:0px;
 
}

.carousel-caption h3 {
  background:rgba(0, 0, 0, 0.263);
  padding:20px 10px;
  font-size:25px;
  text-transform: capitalize;
  font-weight:700;
}




.admin-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: #f5f5f5;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
}

.admin-sidebar.open {
  transform: translateX(0);
}

.admin-sidebar__menu-button {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.admin-sidebar__content {
  padding: 20px;
}


/* carosuel section */

.row.admin_panel .dashboard {
  padding: 0px;
}

.admin_sidebar .col {
  display: flex;
  flex-direction: column;
  align-items: center;
}



img.site-logo {
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  aspect-ratio: 16/10;

}

header .row {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

footer .row {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: flex-start;
}


.nav_menu {
  justify-content: end;
}

.col.col-sm-6.col-md-6.col-lg-6.searchBar {
  display: flex;
}

.menu_links a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  padding: 10px 20px;
  border-left: 2px solid #eee;
  background:white;
}

/*  mobile menu */
input {
  font-family: 'Raleway';
  
}


.admin_sidebar_menus {
  display: flex;

  flex-direction: column;
  align-items: center;
}

img.product_image {

  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
}

button.admin_sidebar_button {
  padding: 5px 10px;
}


.offcanvas-body a {
  display: flex;
  margin: 15px 0px;
  text-decoration: none;
  color: white;
}

.offcanvas {
  background: black;
}

.offcanvas.offcanvas-start.show {
  width: 250px;
}

.row.admin_header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.col-sm-6.col-md-4.col-lg-4.products_grid {
  margin: 10px 0px;
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

a {
  text-decoration: none;
}

section.banner_section {
  width: 100%;
  height: 700px;
  background: #fffaf3;
  background-image: url(/uploads/images/hero1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
div#responsive-navbar-nav {
  justify-content: center;
}

button.navbar-toggler.collapsed {
  border: 1px solid white;
}

.carousel_section h2 {
  color: var(--secondary);
  font-weight: 800;
  font-size: 80px;
  z-index: 1;
  padding-left: 50px;
  padding-right: 50px;
}

.carousel_section span.white {
  color: white;
}
.carousel_section span.green {
  color: #399238;
}

section.categories_section {
  padding: 50px 0px;
  background: url(/uploads/images/blog_bg.png);
  background-position: center;
  background-size: cover;
}
 span.green {
  color: var(--accent);
  font-weight:700;
}

.carousel-item::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 500px;
  background: black;
  opacity: 0.2;
}



.carousel-item img {
  height:500px;
  object-fit: cover;
  width:100%;
}

.other_pages_banner {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/uploads/images/other_pages_banner.jpg);
  color: white;
  text-transform: capitalize;
  margin-bottom: 20px;
  background-size: cover;
  background-position: center center;
}
.other_pages_banner::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 300px;
  background: black;
  opacity: 0.3;
}
footer {
  padding:20px 0px 0px 0px;
  background:#f8f9fa;
}

.site-footer-logo {
  width:150px;

}
footer h5 {
  font-size: 24px;
  font-weight: 700;
}
.searchBar input , .searchBar button {
  border-radius: 0px!important;
}
.col.col-sm-6.col-md-2.col-lg-2.google_translate {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

input.form-control {
  padding: 10px;
}
button.search_button.btn.btn-dark {
  padding: 0px 25px;
}

.bootombar .container {
  display:flex;
  justify-content:center!important;
 }

 .capitalize {
  text-transform: capitalize;
 }




footer li {
  padding: 10px 0px;
  font-size:14px;
}
.social-icons svg {
  color:  #273171;
  font-size: 20px;
  ;
}
footer svg {
  color:  #273171;
  font-size: 20px;
  ;
}
footer li a  {

  color:#273171;
  padding-left:10px;
}

.col.col-sm-6.col-md-2.col-lg-2.social-icons {
  display: flex;
  justify-content: space-evenly;
}

.copyrights {
  margin-top: 20px;
  background: #273171;
  padding: 10px 0px;
  text-align:center;

  
}

.copyrights a , .copyrights h4 {

  font-size: 15px;
  color: white;
  margin:0px;
}

.blog_image img {
  width: 100%;
  object-fit: cover;
}

.category_pages_banner {
  height: 150px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  background: var(--primary);
  color: white;
  margin-bottom:30px;
}

.category_pages_banner h1 {
  font-size:40px;
}

.sponsores_logo {
  aspect-ratio: 4/3;
  width: 180px;
  object-fit: contain;
  margin: 0px 20px;
}

.marquee_container {
  padding:40px 0px;
}

 


