@media only screen and (max-width:500px) {

    .col-sm-6.col-md-4.col-lg-4.products_grid {
        display: flex;
        align-items: center;
        margin: 10px 0px;
        width: 50%;
    }
    .google_translate {
      display: none;
  }
  section.banner_section h2 {
    color: #f89629;
    font-weight: 800;
    font-size: 50px;
    z-index: 1;
    padding-left: 20px;
    padding-right: 20px;
}
img.site-logo {
  width: 100px;
  height: 90px;
}



img.category_image {
    height: 100px;
}

section.categories_section {
  padding: 20px 0px;
  background: url(/uploads/images/blog_bg.png);
  background-position: center;
  background-size: cover;
}

section.banner_section {
  width: 100%;
  height: 500px;
 
  
}

section.banner_section::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 500px;
  background: black;
  opacity: 0.3;
}
.category_body {
  padding: 10px;
  background: #ffedd8;
  border-top: 0px;
  color: black;
}

.category_body h2 {
  font-size: 16px;
  margin: 0px!important;
}

.category_grid.col-sm-6.col-md-4.col-lg-4 {
  width: 50%;
}



    .row.admin_header h2 {
        font-size: 20px;
    } 

    .carousel-section {
        height: 250px;
    
      }
      .carousel-caption h3 {
        
        font-size:22px;
        
      }
    
      .carousel-section h2 {
    
        font-size: 30px;
    
      }

      .other_pages_banner {
        height: 300px;
       
      }
      .other_pages_banner::before {
        height: 300px;
       
      }
      div#responsive-navbar-nav {
        background: #1f1f1f;
      }


    }