



:root {
  --primary: #273171; /* Replace with your desired primary color hex value */
  --secondary: #f89629; /* Replace with your desired secondary color hex value */
  --accent: #389232; /* Replace with your desired accent color hex value */
  --link: #389232; /* Replace with your desired link color hex value */
  --boxbg:#ffedd8;
}

.blog_single_content a {
  overflow: hidden;
  display: block;
}

.content_box {
  background-color: var(--boxbg);
  padding:10px;
}
.button {
  background:var(--primary);
  color:#ffffff;
  padding:10px 15px;
  border:none;
}

.my-5 {
  margin:50px auto;
}
.bg-fafafa{
  background:#fafafa;
}

a{
  color:var(--link);
}

.py-2{
  padding: 20px auto;
}
.px-2{
  padding: 0px 10px;
}
.py-4{
  padding: 40px 0px;
}
.px-4{
  padding: 0px 40px;
}
.py-8{
  padding: 80px 0px;
}
.px-8{
  padding: 0px 80px;
}

.latest_article_column {
  margin: 20px auto;
 
}






.founders_social a {
  margin: 10px;
}

.founders_social svg {
  margin: 10px;
}




.category_image {
  width:100%;
  aspect-ratio:4/3;
  object-fit:cover;
  border: 1px solid var(--boxbg);
  border-bottom: none;
}

nav.header_nav.topbar {
  background: transparent;
}

.category_body {
  padding: 20px;
  background: var(--primary);
  border-top: 0px;
}

h2.page_title {
  z-index: 1;
  font-size: 50px;
  font-weight: 700;
}
.category_body h3 , .category_body h2 {
  font-size:25px;
  margin: 0px!important;
  color:#ffffff;
}
.article_body, .blog_body {
  padding: 15px 15px 20px 15px;
  border-radius: 0px 0px 10px 10px;
  background: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.mission-vision {
  padding: 10px;
  margin: 20px auto;
  box-shadow: 0px 0px 10px 0px #eee;
 
}

.feature-icon svg {
  color: var(--primary);
  font-size: 40px;
  margin-bottom: 15px;
}

.category_page .row {
  justify-content: center;
}

h1.text-center {
  margin-bottom: 20px;
}

.category_grid .category_grid {
  margin:20px 0px ;
}


section.home_sections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
}


body {
  font-family: 'Raleway', sans-serif;
  font-weight:600;
}

h1 , h2 , h3 , h4 , h5 , h6 {
  font-family: 'League Spartan', sans-serif;
  color:var(--primary);
}

.whatsapp_button {
  background:var(--link);
  color:white;
  padding:10px 20px;

}


.article_thumbnail img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  min-height: 250px;
  border:1px solid #eee;
}

p {
  font-family: "Raleway";
  text-align: justify;
  line-height:30px;
}

.globe_section.container .about_us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  
}

section.globe_section {
  background: #fafafa;
}

section.globe_section p  {
  margin-top:20px;
}

.article_single_image img {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
  background:#eee;
}

.article_body h3 , .blog_body h3 {
  color:#ffffff;
  font-size: 15px;
  text-align: center;
  line-height:22px;

}

.prabisha_contacts {
    display: flex;
    flex-direction: column;
    height: 140px;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    margin: 10px;
    background: var(--primary);
    padding: 20px 0px;
    font-weight: 700;
    font-size: 19px;
   border-radius:20px;
}


img.aspect-ratio {
  aspect-ratio:4/3;
  object-fit: cover;
  width:100%;
  height:auto;
} 

img.single_blog {
  aspect-ratio:4/3;
  object-fit: contain;
  background:#fafafa;
  width:100%;
  height:400px;
}



.business.body.text-dark {
  min-height: 120px;
}

.body.text-dark {
  padding: 15px 5px;
  background: var(--boxbg);
}

section.featured_blogs_section h1 {
  margin-bottom: 10px;
}
.person-card {
  margin: 15px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.global_buttons{
  background:var(--primary);

}
.article_column {
  margin-top: 10px;
  margin-bottom: 10px;
}
section.featured_blogs_section .row {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  
}



.carousel-section h2 {
  text-align: center;
  font-weight: 700;
  font-size: 60px;
  padding: 20px;
  background: #323231ad;
  color: white;
  font-family: initial;

}


.carousel-caption h3 {
  background:rgba(0, 0, 0, 0.263);
  padding:20px 10px;
  font-size:25px;
  text-transform: capitalize;
  font-weight:700;
}




.admin-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: #f5f5f5;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
}

.admin-sidebar.open {
  transform: translateX(0);
}

.admin-sidebar__menu-button {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.admin-sidebar__content {
  padding: 20px;
}


/* carosuel section */

.row.admin_panel .dashboard {
  padding: 0px;
}

.admin_sidebar .col {
  display: flex;
  flex-direction: column;
  align-items: center;
}



img.site-logo {
  width: 200px;
  -o-object-fit: contain;
  object-fit: contain;
  height:100px;

}

header .row {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

footer .row {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-around;
  align-items: flex-start;
}

.single_page {
  max-width: 1050px;
  margin: 20px auto;
  padding: 30px;
  box-shadow: 0px 0px 20px 0px #27317142;
  background: #fafafa;
  width: 100%;
  border-radius: 20px;
}


.nav_menu {
  justify-content: end;
}

.searchBar {
  display: flex;
  padding:0px 40px;
}

.menu_links a {
  text-decoration: none;
  color: #273171;
  font-weight: 700;
  padding: 10px 20px;
  border-left: 1px solid #fb9629;
  background: #ffffff;
}

/*  mobile menu */
input {
  font-family: 'Raleway';
  
}


.admin_sidebar_menus {
  display: flex;

  flex-direction: column;
  align-items: center;
}

img.product_image {

  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
}

button.admin_sidebar_button {
  padding: 5px 10px;
}


.offcanvas-body a {
  display: flex;
  margin: 15px 0px;
  text-decoration: none;
  color: var(--primary);
}

.offcanvas {
  background: white;
}

.offcanvas.offcanvas-start.show {
  width: 250px;
}

.row.admin_header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.col-sm-6.col-md-4.col-lg-4.products_grid {
  margin: 10px 0px;
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

a {
  text-decoration: none;
}

section.banner_section {
  width: 100%;
  height: 700px;
  background: #fffaf3;
  background-image: url(/uploads/images/hero1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
div#responsive-navbar-nav {
  justify-content: center;
}

button.navbar-toggler.collapsed {
  border: 1px solid var(--primary);
  background: var(--primary);
}

.carousel_section h2 {
  color: var(--secondary);
  font-weight: 800;
  font-size: 80px;
  z-index: 1;
  padding-left: 50px;
  padding-right: 50px;
}

.carousel_section span.white {
  color: white;
}
.carousel_section span.green {
  color: #399238;
}

section.categories_section , section.blogs_section {
  background: url(/uploads/images/blog_bg.png);
  background-position: center;
  background-size: cover;
}
 span.green {
  color: var(--accent);
  font-weight:700;
}





.carousel-item img {
  height:600px;
  object-fit: cover;
  width:100%;
}

.other_pages_banner {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/uploads/images/other_pages_banner.jpg);
  color: white;
  text-transform: capitalize;
  margin-bottom: 20px;
  background-size: cover;
  background-position: center center;
}

.jobs_bg {
  min-height:320px;



}

.carousel_section {
  max-height:600px;
}

.blog_body.latest-articles h3 {
  height: 50px;
  color: white;
  display: flex;
  align-items: center;

}

.blog_body.latest-articles .button {
  border-radius: 0px;
  background: white;
  padding: 10px 20px 10px 20px;
  margin-top: 10px;
  color: var(--primary);
  font-weight: 700;
}

h1.text-center {
  color: var(--primary);
}




.other_pages_banner::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 300px;
  background: black;
  opacity: 0.3;
}
footer {
  padding:20px 0px 0px 0px;
  background:#f8f9fa;
}
.site-footer-logo {
  width:150px;
  padding-bottom:20px;

}

.col-20 {
  width:20%
}
.col-80 {
  width:80%
}
footer h5 {
  font-size: 24px;
  font-weight: 700;
}
.searchBar input , .searchBar button {
  border-radius: 0px!important;
}
.col.col-sm-6.col-md-2.col-lg-2.google_translate {
  display: flex;
  justify-content: center;
  align-items: center;
}

input.form-control {
  padding: 10px;
}
button.search_button.btn.btn-dark {
  padding: 10px 20px;
}

.bootombar .container {
  display:flex;
  justify-content:center!important;
 }

 .capitalize {
  text-transform: capitalize;
 }




footer li {
  padding: 10px 0px;
  font-size:14px;
}
.social-icons svg {
  color:  #273171;
  font-size: 20px;
  ;
}
footer svg {
  color:  #273171;
  font-size: 20px;
  ;
}
footer li a  {

  color:#273171;
  padding-left:10px;
}

.col.col-sm-6.col-md-2.col-lg-2.social-icons {
  display: flex;
  justify-content: space-evenly;
}

.copyrights {
  margin-top: 20px;
  background: #273171;
  padding: 10px 0px;
  text-align:center;

  
}

.copyrights a , .copyrights h4 {

  font-size: 15px;
  color: white;
  margin:0px;
}

.blog_image img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  height: auto;
  aspect-ratio: 4/3;
}

.category_pages_banner {
  height: 150px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  background: var(--primary);
  color: white;
  margin-bottom:30px;
}

.category_pages_banner h1 {
  font-size:40px;
}

.sponsores_logo {
  aspect-ratio: 4/3;
  width: 180px;
  object-fit: contain;
  margin: 0px 20px;
}

.marquee_container {
  padding:40px 0px;
}

.single_article_body.container h1 {
  margin: 30px 0px;
}

.single_article_body.container.pt-10 {
  margin:30px auto;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px #eee;
}

header .container {
  justify-content: center!important;
}

.whatsapp-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25D366;
  color: white;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.whatsapp-container:hover {
  transform: scale(1.1);
  background:white;
}
.whatsapp-logo {
  width: 30px;
  height: 30px;
}

.contact_cards.card {
  margin: 20px;
  padding: 10px;
  box-shadow: 0px 0px 10px 0px #eee;
}

.contact_cards.card .card-title {
  margin: 10px 0px;
}

.h-165 {
  min-height:165px;
}

.jobs_page p {
  font-size: 14px;
}

.category_grid.container .row {
  justify-content: center;
}

/* SearchComponent.css */

.card-deck-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

img.search_results_images {
  width: 100%;
  object-fit: cover;
  height:400px;
}

h3.article-body {
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  line-height: 22px;
}

a.categories {
  padding: 5px 10px;
  background: #273171;
  margin: 10px;
  color: white;
  text-transform: capitalize;
}
 




.founders img {
  width: 100%;
  aspect-ratio: 4/3;
 object-fit: contain;
 
}

.founders_social {
  padding: 20px;
  margin-bottom: 20px;
  
}

button.accordion-button {
  font-family: 'Raleway';
  color: #ffffff!important;
  background: var(--primary)!important;
  font-weight:600;
}

.accordion-button::after {
  display:none;
}

.sociallinks  {
  height:50px;
  display:flex;
  background-color:var(--primary);
  align-items:center;
  padding-left:10px;
  gap:30px;
  top: 0;
  justify-content: space-around;

}

.sociallinks1 {
  background:#fafafa;
}
.wordlinks{
  color: #ffffff;
  
}

nav.header_nav.topbar.navbar.navbar-expand-lg.navbar-dark {
  padding: 80px 10px 10px 10px;
}
a{
  text-decoration: none;
}


.midsection{
  display:flex;
  justify-content:space-evenly;
  align-items:center;
  margin-top: 70px;
}

.whatsapp-top-container.wordlinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.whatsapp-top-container.wordlinks span{
  margin-right: 10px;
}

.cover {
  object-fit: cover;
}
.contain {
  object-fit: contain;
}
img.apsect-ratio.box-shadow {
  object-fit: cover;
}

.box-shadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
}

.whatsapp-top-container.wordlinks img {
  margin-right: 5px;
}

.whatsapp {
  font-weight:700;
  color:white;
}

.whatsapp-top-container.wordlinks a {
  text-decoration: none;
  align-items: center;
 
}


.row {
  margin-left: auto;
  margin-right: auto;
}

.carousel-inner {
  z-index: 1;
}

.sociallinks{
  position:fixed;
  width:100%;
  top:30px;
  z-index:9999;
}
.sociallinks1 {
  position: fixed;
  height: 30px;
  width: 100%;
  top: 0px;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card img {
  aspect-ratio: 16/9;
  object-fit: cover;
}

.category_page .card {
  min-height: 380px;

}


button.button.search_button.btn.btn-primary {
  padding: 10px 30px;
}

header .container-fluid {
  justify-content: center!important;
}

.searchBar form {
  width: 100%;
}
img {
  max-width:100%;
  
} 

h3.one-line-heading {
  font-size: 20px;
  margin: 10px 0px;
}

.partners img {
  aspect-ratio: 4/3;
  width:100%;
  object-fit: cover;;
}

.section {
  padding: 40px 20px;
}

.slick-next {
  right: 0px!important;;
}
.slick-prev {
  left:0px!important;
}
.whatsapp_icon {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.sociallinks a {
  display: flex;
}

div#google_translate_element span {
  display: none;
}

.skiptranslate.goog-te-gadget {
  color: transparent;
}

select.goog-te-combo {
  padding: 5px;
}

div#google_translate_element {
  margin-top: 15px;
}

.chakra-slide {
  background: #fafafa!important;
  width: 200px!important;
  top: 50px!important;
}
.home_slider{
  z-index:-1;
}
button.chakra-button {
  padding: 10px;
  border-radius: 100%;
  background:var(--primary);
}
button.chakra-button svg {
font-size:30px;
}

.ql-editor.ql-blank {
  min-height: 300px;
}

.bg-primary {
  background-color:var(--primary)!important;
}


@media only screen and (max-width:992px) {
  .hide_on_small {
    display:none;
  }

  div#chakra-modal-\:Rlbqkcm\: {
    width: 220px!important;
    top: 50px!important;
}
  .navbar-toggler:hover {
    background: var(--primary);
}
div#responsive-navbar-nav {
  position: fixed;
  top: 50px;
  z-index: 1234567890;
  left: 0px;
  height: 100%;
  width: 230px;
  background: var(--primary);
}

header .row {
  width: 100%;
  flex-direction: row;
}



 

  .col-sm-6.menu_bar {
    display: flex;
    justify-content: flex-end;
  }

  .col-sm-6.logo_bar  {
    width: 60%;
}
  .col-sm-6.menu_bar  {
    width: 40%;
}
}
@media only screen and (min-width:992px) {
  .hide_on_big {
    display:none;
  }
}

.typing-text {
  position: relative;
  top: -500px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100%;
  padding: 30px;
  color: white;
}
.typing-text .body {
  padding: 30px 10px;
    text-align: center;
    background: #273171a3;
    width: 70%;
    border-radius: 10px;;

}

.carousel-control-next, .carousel-control-prev {
  display:none;
}

h1.text-center:after {
  content: "";
  display: flex;
  height: 5px;
  width: 200px;
  background: green;
  margin-top: 20px;
  border-radius: 20px;
  margin: 20px auto;
  animation: expandContract 4s linear infinite; /* 2s duration, linear timing, infinite loop */
}

@keyframes expandContract {
  0% {
    width: 100px;
  }
  50% {
    width: 200px; /* Expand to 300px at 50% of the animation */
  }
  100% {
    width: 100px;
  }
}

.section {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

















